@import 'tailwindcss';
@config '../tailwind.config.js';

@custom-variant dark (&:is(.dark *));

@theme {
  --background: #fff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  @apply bg-background text-foreground antialiased;
}

@layer components {
  #edit-meme-form label {
    margin-top: -20px;
  }
}

@theme {
  @keyframes from-bottom-appear {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-from-bottom-appear: from-bottom-appear 0.8s forwards;
}
